.btnJogar1 {
    position: relative;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    /*tamanho do botao*/
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

.btnJogar1:hover {
    letter-spacing: 0.25em;
    background-color: rgba(15, 240, 252);
    /*cor da borda*/
    color: var(--azul);
    /*cor da letra*/
    box-shadow: 0 0 35px rgba(15, 240, 252);
    /*sombra*/
}

.btnJogar1::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}

.btnJogar1 span {
    position: relative;
    z-index: 1;
    color: #fff;
}

.btnJogar1 i {
    position: absolute;
    inset: 0;
    display: block;
}

.btnJogar1 i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid rgba(15, 240, 252);
    /*icone que se move*/
    background-color: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btnJogar1:hover i::before {
    width: 20px;
    left: 20%;
}

.btnJogar1 i:after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid rgba(15, 240, 252);
    /*icone que se move*/
    ;
    background-color: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/*---------------------------------------------------------------------------------*/

.btnJogar2 {
    position: relative;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    /*tamanho do botao*/
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

.btnJogar2:hover {
    letter-spacing: 0.25em;
    background-color: rgba(255, 68, 204, 0.9);
    /*cor da borda*/
    color: var(--azul);
    /*cor da letra*/
    box-shadow: 0 0 35px rgba(255, 68, 204, 0.9);
    /*sombra*/
}

.btnJogar2::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}

.btnJogar2 span {
    position: relative;
    z-index: 1;
    color: #fff;
}

.btnJogar2 i {
    position: absolute;
    inset: 0;
    display: block;
}

.btnJogar2 i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid rgba(255, 68, 204, 0.9);
    /*icone que se move*/
    background-color: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btnJogar2:hover i::before {
    width: 20px;
    left: 20%;
}

.btnJogar2 i:after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid rgba(255, 68, 204, 0.9);
    /*icone que se move*/
    ;
    background-color: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/*---------------------------------------------------------------------------------*/

.btnJogar2 {
    position: relative;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    /*tamanho do botao*/
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

.btnJogar2:hover {
    letter-spacing: 0.25em;
    background-color: rgba(255, 68, 204, 0.9);
    /*cor da borda*/
    color: var(--azul);
    /*cor da letra*/
    box-shadow: 0 0 35px rgba(255, 68, 204, 0.9);
    /*sombra*/
}

.btnJogar2::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}

.btnJogar2 span {
    position: relative;
    z-index: 1;
    color: #fff;
}

.btnJogar3 i {
    position: absolute;
    inset: 0;
    display: block;
}

.btnJogar3 i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid rgba(255, 68, 204, 0.9);
    /*icone que se move*/
    background-color: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btnJogar3:hover i::before {
    width: 20px;
    left: 20%;
}

.btnJogar3 i:after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid rgba(255, 68, 204, 0.9);
    /*icone que se move*/
    ;
    background-color: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}