@import url("../fonts//Roboto.css");

.conteudoCategorisaJogos {
    background-color: #f5f5dc;
    height: 700px;
}

.tituloCategoria {
    font-size: 30px;
    font-family: 'Roboto';
}

.flexboxCategoriasDeJogos {
    display: flex;
    gap: 90px;
    padding-left: 5rem;
}

/*Categorias de jogos*/

#action {
    background-color: blue;
}

#rpg {
    background-color: purple;
}

#strategy {
    background-color: orange;
}

#indie {
    background-color: green;
}

#multiplayer {
    background-color: #8B0000;
}

#exclusiveLoot {
    background-color: lightblue;
}