@import url("../fonts/Roboto.css");

.conteudoCategorisaJogos {
    background-color: #f5f5dc;
    height: 700px;
    padding: 20px;
}

.tituloCategoria {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.flexboxCategoriasDeJogos {
    display: flex;
    gap: 20px;
    /* Ajustado para melhor visualização */
    padding-left: 5rem;
    flex-wrap: wrap;
}

.categoriasJogos {
    width: 260px;
    /* Largura definida para os cards */
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.divsJogos {
    border-radius: 20px;
    overflow: hidden;
    /* Importante: corta a imagem para seguir o arredondamento */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.divsJogos:hover {
    transform: scale(1.05);
}

.categoriasJogos img {
   width: 200px;
}

/* Cores de fundo por ID */

#action {
    background-color: #003554;
}

#rpg {
    background-color: purple;
    font-family: 'Roboto';
}

#strategy {
    background-color: orange;
    font-family: 'Roboto';
}

#indie {
    background-color: green;
    font-family: 'Roboto';
}

#multiplayer {
    background-color: #8B0000;
    font-family: 'Roboto';
}

#exclusiveLoot {
    background-color: blue;
    /* Aquele azul vidro mais escuro */
    height: 450px;
    /* Coloque a altura que você quiser aqui */
    align-self: flex-start;
    /* ISSO impede que os outros cresçam junto */
    transform: translate(1500px, -210px);
    width: 360px;
    font-family: 'Roboto';
}