.flexbox {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #fff;
    /* Adicione esta linha para evitar que todos estiquem */
    align-items: flex-start;
}

.divFlexbox {
    background-color: #000;
    width: 300px;
    /* Opcional: defina uma altura padrão para as outras divs */
    height: 300px;
}

#divRanqueamento {
    background-color: #252525;
    /* Cor diferente apenas para visualizar melhor */
    height: 500px;
}