.flexbox {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Isso força um espaço de 20px entre cada div */
    color: #fff;
}

.divFlexbox {
    background-color: red;
    width: 200px; /* Reduzi para um tamanho que caiba na maioria das telas */
}

#divRanqueamento{
    height: 500px;
}