@import url("../fonts//Roboto.css");

.flexbox {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #fff;
    /* Adicione esta linha para evitar que todos estiquem */
    align-items: flex-start;
}

.divFlexbox {
    background-color: #0A1A2F;
    width: 300px;
    /* Opcional: defina uma altura padrão para as outras divs */
    height: 400px;
    border-radius: 20px
}

#divRanqueamento {
    background-color: #0A1A2F;
    /* Cor diferente apenas para visualizar melhor */
    height: 500px;
    width: 350px;
}

.imgFlexbox {
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    height: 200px;
}

.flexbox .tituloDoJogo,
.descricaoDoJogo {
    font-family: 'Roboto';
    padding-left: 1rem;
}

.linhaSobImg {
    background-color: red;
    height: 2px;
    /* Define a espessura da linha */
    border: none;
    /* Remove a borda padrão cinza */
    transform: translate(0px, -11px);
}

.movimentacaoBtnJogos {
    padding-left: 5rem;
}

.btnJogo {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}

.btnJogo:hover {
    background-color: #252525;
    cursor: pointer;
    transition: 1s;
}