@import url("../fonts//Roboto.css");

.flexbox {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #fff;
    /* Adicione esta linha para evitar que todos estiquem */
    align-items: flex-start;
}

.divFlexbox {
    background-color: #0A1A2F;
    width: 300px;
    /* Opcional: defina uma altura padrão para as outras divs */
    height: 400px;
    border-radius: 20px
}

#divRanqueamento {
    background-color: #0A1A2F;
    /* Cor diferente apenas para visualizar melhor */
    height: 500px;
    width: 350px;
}

.imgFlexbox {
    width: 300px;
    border-radius: 20px 20px 0px 0px
}

.flexbox .tituloDoJogo {
    font-family: 'Roboto';
    padding-left: 1rem;
}