.header {
    background-color: #0e0e44;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    height: 70px;


}

.conteudo {
    display: flex;
    gap: 300px;
}

.lista-header {
    display: flex;
    gap: 20px;
}

.itensLista{
    list-style-type: none;
}

.linksLista {
    color: #fff;
    text-decoration: none;
}

.linksLista:hover{
    cursor: pointer;
}

.inputBusca{
    padding-top: 1rem;

}