.header {
    background-color: #0e0e44;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    height: 100px;

}

.conteudo {
    display: flex;
    gap: 50px;
}

.lista-header {
    display: flex;
    gap: 20px;
}

.linksLista {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}
