@import url('../fonts//Montserrat.css');

/* SECTION PRINCIPAL */
.home {
    position: relative;
    width: 100%;
    height: 70vh;
    /* ocupa a tela inteira */
    overflow: hidden;
    border-radius: 1.5%;

}

.movimentacao {
    padding-top: 1rem;
}

/* VÍDEO DE FUNDO */
.background-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* CAMADA ESCURA (EFEITO PROFISSIONAL) */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    /* ajuste a intensidade aqui */
    z-index: -1;
}

h1 {
    font-size: 50px;
    padding-left: 5rem;
    color: #fff;
}

span {
    color: #0000FF;
    ;
}

.paragrafoIntroducao {
    color: #fff;
    font-family: 'Montserrat';
    padding-top: 5rem;
    transform: translate(-900px, 100px);
    font-size: 27px;
}

button {
    background-color: #007BFF; /* Tom de azul */
    color: white;              /* Cor do texto branca */
    padding: 10px 20px;       /* Espaçamento interno (vertical e horizontal) */
    border: none;              /* Remove a borda padrão do navegador */
    border-radius: 8px;        /* Arredonda as bordas */
    cursor: pointer;           /* Muda o cursor para a "mãozinha" ao passar o mouse */
    font-size: 16px;           /* Tamanho da fonte */
    font-weight: bold;         /* Deixa o texto em negrito */
    transition: background 0.3s ease; /* Suaviza a mudança de cor no hover */
}

/* Efeito ao passar o mouse */
button:hover {
    background-color: #0056b3; /* Azul um pouco mais escuro */
}