.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover; /* Faz o vídeo cobrir toda a tela */
    z-index: -1;       /* Fica atrás do conteúdo */
}

.content {
    position: relative;
    z-index: 2;
    color: white;
}