/* Remove qualquer espaço branco da página */

/* SECTION PRINCIPAL */
.home {
    position: relative;
    width: 100%;
    height: 70vh;
    /* ocupa a tela inteira */
    overflow: hidden;
    border-radius: 1.5%;
    background-size: cover;
}

.movimentacao {
    padding-top: 1rem;
}

/* VÍDEO DE FUNDO */
.background-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* CAMADA ESCURA (EFEITO PROFISSIONAL) */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    /* ajuste a intensidade aqui */
    z-index: -1;
}